In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/Users/omarquinn/.matplotlib is not a writable directory
Matplotlib created a temporary cache directory at /var/folders/ym/rbj3xt1s2z99f7dbk593w20h0000gn/T/matplotlib-czhnfefp because there was an issue with the default path (/Users/omarquinn/.matplotlib); it is highly recommended to set the MPLCONFIGDIR environment variable to a writable directory, in particular to speed up the import of Matplotlib and to better support multiprocessing.
Matplotlib is building the font cache; this may take a moment.

In [33]:
df = pd.read_csv('Datos_Facturación.csv')
df

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,0,F29414,2465.0,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,1,F29415,3926.0,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,2,F29416,3926.0,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,3,F29417,3926.0,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,4,F29418,6813.0,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10890,10890,F40306,8842.0,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaN,3272.00,0.0,0.0
10891,10891,F40307,6218.0,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaN,504.15,0.0,0.0
10892,10892,NaN,5926.0,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaN,275.68,0.0,0.0
10893,10893,F40309,361.0,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaN,129.30,0.0,0.0
10894,10894,F40310,3011.0,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaN,517.20,0.0,0.0

In [21]:
filtro1 = df[(df['CVE_CLPV']>= 1000) & (df['CVE_CLPV'] <= 2000)]
filtro1

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
18,18,F29432,1965.0,C,2.0,2019-09-05 11:05:04.000,2019-09-05,2019-09-05 00:00:00,2019-09-20,2019-09-06,976.50,0.00,0.0
22,22,F29436,1965.0,C,2.0,2019-09-06 12:01:36.000,2019-09-06,2019-09-06 00:00:00,2019-09-21,2019-09-12,976.50,0.00,0.0
65,65,F29479,1240.0,E,2.0,2019-09-11 18:38:45.000,2019-09-11,2019-09-11 00:00:00,2019-09-11,NaN,4135.00,0.00,0.0
71,71,F29485,1965.0,C,2.0,2019-09-12 12:14:28.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,2019-09-12,976.50,146.48,0.0
72,72,F29486,1965.0,E,2.0,2019-09-12 12:25:52.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,NaN,976.50,146.48,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10821,10821,F40237,1757.0,E,2.0,2023-02-24 15:18:17.570,2023-02-24,2023-02-13 00:00:00,2023-02-24,NaN,10088.40,0.00,0.0
10839,10839,F40255,1583.0,E,2.0,2023-02-28 09:15:45.753,2023-02-28,2023-02-28 00:00:00,2023-03-30,NaN,3467.35,0.00,0.0
10845,10845,F40261,1786.0,E,2.0,2023-02-28 11:15:32.527,2023-02-28,2023-03-03 00:00:00,2023-02-28,NaN,4663.80,0.00,0.0
10871,10871,F40287,1453.0,E,1.0,2023-03-01 12:58:23.397,2023-03-01,2023-02-27 00:00:00,2023-03-31,NaN,9000.00,0.00,0.0
10876,10876,F40292,1082.0,E,6.0,2023-03-02 11:00:54.770,2023-03-02,2023-03-01 00:00:00,2023-03-02,NaN,3262.00,0.00,0.0

In [22]:
filtro1.to_csv('Filtro CVE.csv')

In [23]:
filtro2 = df[~(df['CVE_VEND']== 4) & ~(df['CVE_VEND'] ==5 )]
filtro2

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,0,F29414,2465.0,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,1,F29415,3926.0,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,2,F29416,3926.0,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,3,F29417,3926.0,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,4,F29418,6813.0,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10890,10890,F40306,8842.0,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaN,3272.00,0.0,0.0
10891,10891,F40307,6218.0,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaN,504.15,0.0,0.0
10892,10892,NaN,5926.0,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaN,275.68,0.0,0.0
10893,10893,F40309,361.0,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaN,129.30,0.0,0.0
10894,10894,F40310,3011.0,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaN,517.20,0.0,0.0

In [27]:
df=filtro2.groupby(['CVE_VEND'])['CVE_VEND'].count()
df

CVE_VEND
1.0      959
2.0     7706
3.0      914
6.0      442
7.0        1
9.0        1
10.0       6
11.0      12
12.0       1
Name: CVE_VEND, dtype: int64

In [24]:
filtro2.to_csv('Filtro CVE_VEND.csv')

In [25]:
filtro3 = df[df['FECHA_ENT'] == "2023-02-28 00:00:00"]
filtro3

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
10771,10771,F40187,7050.0,E,2.0,2023-02-20 15:26:13.083,2023-02-20,2023-02-28 00:00:00,2023-02-28,NaN,1170.0000,0.00,0.0
10772,10772,F40188,3878.0,E,6.0,2023-02-20 17:45:17.880,2023-02-20,2023-02-28 00:00:00,2023-02-28,NaN,8628.0000,0.00,0.0
10837,10837,F40253,6401.0,E,1.0,2023-02-27 16:53:08.647,2023-02-27,2023-02-28 00:00:00,2023-03-29,NaN,8100.0000,0.00,0.0
10839,10839,F40255,1583.0,E,2.0,2023-02-28 09:15:45.753,2023-02-28,2023-02-28 00:00:00,2023-03-30,NaN,3467.3500,0.00,0.0
10840,10840,F40256,8242.0,E,2.0,2023-02-28 10:12:54.900,2023-02-28,2023-02-28 00:00:00,2023-02-28,NaN,530.1500,0.00,0.0
10841,10841,F40257,8242.0,E,2.0,2023-02-28 10:25:09.680,2023-02-28,2023-02-28 00:00:00,2023-02-28,NaN,198.5300,0.00,0.0
10843,10843,F40259,8347.0,E,2.0,2023-02-28 11:01:06.950,2023-02-28,2023-02-28 00:00:00,2023-02-28,NaN,2842.5000,0.00,0.0
10846,10846,F40262,5926.0,E,2.0,2023-02-28 11:19:40.553,2023-02-28,2023-02-28 00:00:00,2023-02-28,NaN,530.1500,0.00,0.0
10848,10848,F40264,8143.0,E,2.0,2023-02-28 12:01:00.103,2023-02-28,2023-02-28 00:00:00,2023-02-28,NaN,1216.0000,0.00,0.0
10856,10856,F40272,8860.0,E,2.0,2023-02-28 16:56:57.870,2023-02-28,2023-02-28 00:00:00,2023-02-28,NaN,1359.4300,0.00,0.0
10858,10858,F40274,2704.0,E,2.0,2023-02-28 17:29:07.150,2023-02-28,2023-02-28 00:00:00,2023-02-28,NaN,2237.5000,111.88,0.0
10859,10859,F40275,8836.0,E,2.0,2023-02-28 17:45:10.583,2023-02-28,2023-02-28 00:00:00,2023-02-28,NaN,15909.0000,0.00,0.0
10863,10863,F40279,908.0,E,2.0,2023-02-28 17:58:45.607,2023-02-28,2023-02-28 00:00:00,2023-03-15,NaN,2571.5811,0.00,0.0
10868,10868,F40284,6588.0,E,2.0,2023-02-28 18:34:09.193,2023-02-28,2023-02-28 00:00:00,2023-02-28,NaN,645.6810,0.00,0.0
10870,10870,F40286,8842.0,E,2.0,2023-02-28 18:53:16.560,2023-02-28,2023-02-28 00:00:00,2023-02-28,NaN,3272.0000,0.00,0.0

In [26]:
filtro3.to_csv('Filtro fecha.csv')

In [27]:
filtro4 = df[(df['CAN_TOT'] > 5951.7) | (df['STATUS'] == 'E')]
filtro4

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
5,5,F29419,2465.0,E,1.0,2019-09-04 09:15:12.000,2019-09-04,2019-09-04 00:00:00,2019-09-19,NaN,3979.9980,0.0,0.0
7,7,F29421,6828.0,E,2.0,2019-09-04 10:56:44.000,2019-09-04,2019-09-04 00:00:00,2019-09-04,NaN,402.5900,0.0,0.0
10,10,F29424,5926.0,E,2.0,2019-09-04 12:36:15.000,2019-09-04,2019-09-03 00:00:00,2019-09-04,NaN,462.3100,0.0,0.0
11,11,F29425,5926.0,E,2.0,2019-09-04 13:03:04.000,2019-09-04,2019-09-02 00:00:00,2019-09-04,NaN,1144.4300,0.0,0.0
13,13,F29427,6829.0,E,2.0,2019-09-04 13:44:13.000,2019-09-04,2019-09-04 00:00:00,2019-09-04,NaN,157.7580,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10889,10889,F40305,4990.0,E,2.0,2023-03-06 16:06:24.050,2023-03-06,2023-03-03 00:00:00,2023-03-06,NaN,3697.2504,0.0,0.0
10890,10890,F40306,8842.0,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaN,3272.0000,0.0,0.0
10892,10892,NaN,5926.0,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaN,275.6800,0.0,0.0
10893,10893,F40309,361.0,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaN,129.3000,0.0,0.0
10894,10894,F40310,3011.0,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaN,517.2000,0.0,0.0

In [28]:
filtro4.to_csv('Filtro CAN_TOT E.csv')

In [29]:
filtro5 = df.loc[: ,  ['CVE_DOC', 'FECHA_ENT', 'FECHA_VEN', 'CAN_TOT']]
filtro5

      CVE_DOC            FECHA_ENT   FECHA_VEN  CAN_TOT
0      F29414  2019-09-03 00:00:00  2019-09-18  3980.00
1      F29415  2019-09-03 00:00:00  2019-10-03  1550.00
2      F29416  2019-09-03 00:00:00  2019-10-03  1550.00
3      F29417  2019-09-03 00:00:00  2019-10-03  1550.00
4      F29418  2019-09-03 00:00:00  2019-09-03  2435.44
...       ...                  ...         ...      ...
10890  F40306  2023-03-01 00:00:00  2023-03-06  3272.00
10891  F40307  2023-03-06 00:00:00  2023-03-06   504.15
10892     NaN  2023-03-06 00:00:00  2023-03-06   275.68
10893  F40309  2023-03-07 00:00:00  2023-03-07   129.30
10894  F40310  2023-03-01 00:00:00  2023-03-07   517.20

[10895 rows x 4 columns]

In [30]:
filtro5.to_csv('Filtro Columnas.csv')

In [31]:
filtro6 = df.loc[7001:7100, :]
filtro6

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
7001,7001,F36417,5271.0,E,3.0,2021-10-15 08:40:29.183,2021-10-15,2021-10-06 00:00:00,2021-11-14,NaN,8555.24,0.0,0.0
7002,7002,F36418,5746.0,E,2.0,2021-10-15 08:51:03.463,2021-10-15,2021-10-14 00:00:00,2021-10-15,NaN,620.77,0.0,0.0
7003,7003,F36419,2163.0,E,3.0,2021-10-15 08:56:23.280,2021-10-15,2021-10-15 00:00:00,2021-10-15,NaN,560.00,0.0,0.0
7004,7004,F36420,1429.0,E,1.0,2021-10-15 09:01:08.393,2021-10-15,2021-10-15 00:00:00,2021-12-14,NaN,23625.00,0.0,0.0
7005,7005,F36421,5039.0,E,1.0,2021-10-15 09:07:07.103,2021-10-15,2021-10-08 00:00:00,2022-01-13,NaN,3308.78,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7096,7096,F36512,8186.0,E,2.0,2021-10-27 13:22:23.980,2021-10-27,2021-10-27 00:00:00,2021-10-27,NaN,94.84,0.0,0.0
7097,7097,F36513,4403.0,E,2.0,2021-10-27 13:35:40.677,2021-10-27,2021-10-27 00:00:00,2021-10-27,NaN,847.00,0.0,0.0
7098,7098,F36514,5589.0,E,2.0,2021-10-27 14:02:54.630,2021-10-27,2021-10-27 00:00:00,2021-10-27,NaN,965.00,0.0,0.0
7099,7099,F36515,5589.0,E,2.0,2021-10-27 14:04:26.797,2021-10-27,2021-10-26 00:00:00,2021-10-27,NaN,2106.00,0.0,0.0
7100,7100,F36516,466.0,E,1.0,2021-10-27 14:58:56.587,2021-10-27,2021-09-30 00:00:00,2021-12-26,NaN,21399.51,0.0,0.0

In [32]:
filtro6.to_csv('FiltroFilas.csv')

In [37]:
df1=pd.read_csv('Datos_Facturación.csv' , index_col=4)
df1

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
CVE_VEND,,,,,,,,,,,,
1.0,0,F29414,2465.0,C,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1.0,1,F29415,3926.0,C,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
1.0,2,F29416,3926.0,C,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
1.0,3,F29417,3926.0,C,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
2.0,4,F29418,6813.0,C,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2.0,10890,F40306,8842.0,E,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaN,3272.00,0.0,0.0
2.0,10891,F40307,6218.0,NaN,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaN,504.15,0.0,0.0
2.0,10892,NaN,5926.0,E,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaN,275.68,0.0,0.0
2.0,10893,F40309,361.0,E,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaN,129.30,0.0,0.0
2.0,10894,F40310,3011.0,E,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaN,517.20,0.0,0.0

In [39]:
filtro7 = df1.loc[[1, 2], "FECHAELAB"]
filtro7

CVE_VEND
1.0    2019-09-03 08:58:42.000
1.0    2019-09-03 09:55:14.000
1.0    2019-09-03 13:25:33.000
1.0    2019-09-03 13:33:23.000
1.0    2019-09-04 09:15:12.000
                ...
2.0    2023-03-06 16:09:39.013
2.0    2023-03-06 16:38:42.933
2.0    2023-03-06 17:02:33.390
2.0    2023-03-07 12:43:49.567
2.0    2023-03-07 12:45:58.407
Name: FECHAELAB, Length: 8665, dtype: object

In [40]:
filtro7.to_csv('Filtro_Indice.csv')